<div class="container">
<br />
<h1>Sudents App </h1>
<br />
<br />
<p><a class="btn btn-primary" href="<%= root_path %>students/new">Add a New Student</a></p>
<p><a class="btn btn-warning" href="<%= root_path %>students">See All Students with Scores and Ranks</a></p>
</div>